* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: "Tajawal", sans-serif;
  margin: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  color: white;
}
.notes2::-webkit-scrollbar {
  width: 0px;
}
.notes2::-webkit-scrollbar-track {
  visibility: hidden;

  background-color: #151515;
  border-radius: 10px;
}
.notes2::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: rgba(128, 128, 128, 0.314);
  border-radius: 10px;
}

input {
  font-family: "Tajawal", sans-serif;
  border-radius: 10px;
  border: none;
  background-color: #1c1c1c;
  padding: 10px;
  outline: none;
  color: white;
  text-align: end;
}
.headlineInput {
  font-family: "Tajawal", sans-serif;
  height: 40px;
  font-size: 24px;
}
.descriptionInput {
  font-family: "Tajawal", sans-serif;
  height: 100px;
  font-size: 14px;
}
.time {
  font-family: "Tajawal", sans-serif;
  font-size: 10px;
  padding-left: 10px;
  color: gray;
}
.addnotebtn {
  font-family: "Tajawal", sans-serif;
  height: 40px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  background-color: #1c1c1c;
  padding: 10px;
  padding-bottom: 40px;
  outline: none;
  color: white;
}
.addnotebtn:active {
  background-color: #0f0f0f;
  transform: scale(95%);
}
.addNote {
  font-family: "Tajawal", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: none;
  font-size: 14px;
  width: 700px;
  height: 200px;
  background-color: #151515;
  border-radius: 10px;
  color: white;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notes2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 0px;
  height: 75vh;
  border-radius: 15px;
  overflow-y: scroll;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: visible;
}
.newww {
  font-family: "Tajawal", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  border: none;
  width: 700px;
  height: 200px;
  background-color: #151515;
  border-radius: 10px;
  margin-bottom: 10px;
}
.headlineTitle {
  font-family: "Tajawal", sans-serif;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 15px;
  width: 680px;
  height: 40px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bolder;
  background-color: #1c1c1c;
}
.descriptionTitle {
  font-family: "Tajawal", sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  padding: 15px;
  width: 680px;
  height: 130px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: lighter;
  background-color: #0f0f0f;
  color: gray;
}

.removeNote {
  display: none;
  justify-content: end;
  margin-bottom: 10px;
  margin-top: 10px;
}
.removetitle {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: absolute;
  top: 215px;
  width: 700px;
  align-items: center;
  height: 35px;
  gap: 15px;
  background-color: darkred;
  font-size: 12px;
  border-radius: 10px;
  transform: scale(100%);
  animation: fade 0.5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  0% {
    transform: scale(0%);
  }
  30% {
    opacity: 1;
  }
  30% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}

.removetitle button {
  font-family: "Tajawal", sans-serif;
  width: 50px;
  height: 20px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  background-color: #151515;
  outline: none;
  color: white;
}
.removetitle button:active {
  background-color: #0f0f0f;
  transform: scale(95%);
}

.delete {
  font-family: "Tajawal", sans-serif;
  width: 100px;
  height: 25px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  background-color: #1c1c1c;
  outline: none;
  color: white;
}
.delete:active {
  background-color: #0f0f0f;
  transform: scale(95%);
}

.endbar {
  font-family: "Tajawal", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 680px;
}

/* mobile view */
@media (max-width: 400px) {
  .addNote,
  .notes2,
  .newww {
    width: 370px;
  }
  .newww {
    height: 150px;
  }
  .headlineTitle,
  .descriptionTitle {
    width: 350px;
  }
  .notes2 {
    height: 68vh;
  }
  .removetitle {
    top: 215px;
    width: 370px;
    height: 35px;
  }
}
